@page
@model Autoboxd.Web.Pages.Cars.All.IndexModel
@section scripts
{
    <abp-script src="/Pages/Cars/All/Index.cshtml.js" />
}

<div class="row offset-0 col-12 col-lg-10 p-4 offset-lg-2 ">
    <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
    <button>Search</button>
</div>

<div class="container">
    <div class="row">
        <div class="col-2 d-lg-block mt-2 mr-3" style="max-height: 600px; overflow: scroll; overflow-x: hidden; display: none;">
            </div>
        <div class="row col-12 col-lg-10">
            @foreach (var modelName in Model.Models)
            {
                <div class="col-12 col-lg-6 searchableItem p-1 pt-2">
                    @await Component.InvokeAsync("ItemLink", new { name = modelName, path = "/Cars/All?brand=" + modelName })
                </div>
            }

            @foreach (var item in Model.Items)
            {
                <div class="col-12 col-lg-6 searchableItem p-1 pt-2">
                    @await Component.InvokeAsync("ItemLink", new { imageUrl = "/download/" + item.Path + "-small.jpg", brand = item.Brand, year = item.ManufacturedYear, path = "/Cars/" + item.Path, name = item.Name })
                </div>
            }
        </div>
    </div>
</div>

<script>
    //$("input[type=search]").on('input', function () {
    //    $(".searchableItem").each(function (item, elem) { elem.style.display = 'none'; })

    //    var list = $(".searchableItem").filter(function (index, elem) {
    //        return elem.innerText.indexOf($("input[type=search]").val()) > -1;
    //    });
    //    list.each(function (item, elem) { elem.style.display = 'block'; })
    //});

    // ON RETURN, RELOAD WITH SEARCH
</script>