@model Autoboxd.Web.Components.CommentSection.CommentSectionViewModel

<div class="component comment-section">
    <div class="comments container">
        <div class="comment row">
            <div class="col-12">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac arcu euismod, pellentesque turpis in, tempor augue. Maecenas aliquet pulvinar orci a dignissim. Duis vel lorem quis augue tincidunt tempor at a nunc. Nullam quis erat suscipit, bibendum sem eu, consequat leo. Donec nec auctor felis. Vivamus suscipit lectus et mi aliquet ullamcorper.</div>
        </div>
        <div class="row">
            <div class="col-6">Ferrari F50</div>
            <div class="col-6">Sean</div>
        </div>
    </div>
    <br/>
</div>