<footer>
    <div class="mt-5 my-3 text-center">
        <h3>Autoboxd</h3>
    </div>

    <div class="mb-5 text-center">
        <p class="align-middle">
            <a href="/" target="_blank" class="mx-2"><i class="fa fa-twitter"></i> <span class="text-secondary">Follow us on twitter!</span></a>
            <a href="/" target="_blank" class="mx-2"><i class="fa fa-envelope"></i> <span class="text-secondary">Contact us</span></a>
        </p>
    </div>
</footer>
