@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Autoboxd.Localization
@using Volo.Abp.Users
@model Autoboxd.Web.Pages.IndexModel
@inject IHtmlLocalizer<AutoboxdResource> L
@inject ICurrentUser CurrentUser
@section styles {
    <abp-style src="/Pages/Index.css" />
}
@section scripts {
    <abp-script src="/Pages/Index.js" />
}
<div class="hero-wrapper">
    <div class="hero-image"></div>
    <div class="backdropmask js-backdrop-fade"> </div>
</div>

<div class="container home">
    <div class="p-5 text-center">
        <h1>Track films you’ve watched.</h1>
        <h1>Save those you want to see.</h1>
        <h1>Tell your friends what’s good.</h1>
        <br />

        @if (!CurrentUser.IsAuthenticated)
        {
<a abp-button="Primary" class="register-button" href="~/Account/Register">@L["Button:JoinHere"]</a>}

    </div>

    @await Component.InvokeAsync("ContentSection", new { title = "Featured cars", link = "https://www.google.com" })
    <div class="showcase">
        <div class="row p-3">
            <div class="col-lg-3 p-1">@await Component.InvokeAsync("ItemLink", new { imageUrl = "/images/car1.jpg" })</div>
            <div class="col-lg-3 p-1">@await Component.InvokeAsync("ItemLink", new { imageUrl = "/images/car2.jpg" })</div>
            <div class="col-lg-3 p-1">@await Component.InvokeAsync("ItemLink", new { imageUrl = "/images/car3.jpg" })</div>
            <div class="col-lg-3 p-1">@await Component.InvokeAsync("ItemLink", new { imageUrl = "/images/car4.jpg" })</div>
        </div>
    </div>

    @await Component.InvokeAsync("ContentSection", new { title = "Recently reviewed", link = "https://www.google.com" })
    <div class="grid">
        <div class="row p-3">
            <div class="col-lg-1 p-1">@await Component.InvokeAsync("ItemLink", new { imageUrl = "/images/car1.jpg" })</div>
            <div class="col-lg-1 p-1">@await Component.InvokeAsync("ItemLink", new { imageUrl = "/images/car2.jpg" })</div>
            <div class="col-lg-1 p-1">@await Component.InvokeAsync("ItemLink", new { imageUrl = "/images/car3.jpg" })</div>
            <div class="col-lg-1 p-1">@await Component.InvokeAsync("ItemLink", new { imageUrl = "/images/car4.jpg" })</div>
            <div class="col-lg-1 p-1">@await Component.InvokeAsync("ItemLink", new { imageUrl = "/images/car1.jpg" })</div>
            <div class="col-lg-1 p-1">@await Component.InvokeAsync("ItemLink", new { imageUrl = "/images/car2.jpg" })</div>
            <div class="col-lg-1 p-1">@await Component.InvokeAsync("ItemLink", new { imageUrl = "/images/car3.jpg" })</div>
            <div class="col-lg-1 p-1">@await Component.InvokeAsync("ItemLink", new { imageUrl = "/images/car4.jpg" })</div>
            <div class="col-lg-1 p-1">@await Component.InvokeAsync("ItemLink", new { imageUrl = "/images/car1.jpg" })</div>
            <div class="col-lg-1 p-1">@await Component.InvokeAsync("ItemLink", new { imageUrl = "/images/car2.jpg" })</div>
            <div class="col-lg-1 p-1">@await Component.InvokeAsync("ItemLink", new { imageUrl = "/images/car3.jpg" })</div>
            <div class="col-lg-1 p-1">@await Component.InvokeAsync("ItemLink", new { imageUrl = "/images/car4.jpg" })</div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-7">
            @await Component.InvokeAsync("ContentSection", new { title = "Recent reviews", link = "https://www.google.com" })
            @await Component.InvokeAsync("ReviewDetails", new { imageUrl = "/images/car4.jpg", title = "Lotus Esprit", description = "stuff" })
        </div>
        <div class="col-lg-5">
            @await Component.InvokeAsync("ContentSection", new { title = "Popular lists", link = "https://www.google.com" })
        </div>
    </div>


    <div class="mt-5 my-3 text-center">
        <h3>Meet the ABP Commercial</h3>
        <p>A Complete Web Application Platform Built on the ABP Framework</p>
    </div>

    <div class="mb-5 text-center">
        <p class="align-middle">
            <a href="https://twitter.com/abpframework" target="_blank" class="mx-2"><i class="fa fa-twitter"></i><span class="text-secondary"> Abp Framework</span></a>
            <a href="https://twitter.com/abpcommercial" target="_blank" class="mx-2"><i class="fa fa-twitter"></i><span class="text-secondary"> Abp Commercial</span></a>
            <a href="https://github.com/abpframework/abp" target="_blank" class="mx-2"><i class="fa fa-github"></i><span class="text-secondary"> abpframework</span></a>
        </p>
    </div>
</div>
