@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Autoboxd.Localization
@using Volo.Abp.Users
@model Autoboxd.Web.Pages.IndexModel
@inject IHtmlLocalizer<AutoboxdResource> L
@inject ICurrentUser CurrentUser
@section styles {
    <abp-style src="/Pages/Index.css" />
}
@section scripts {
    <abp-script src="/Pages/Index.js" />
}

@await Component.InvokeAsync("HeroImage", new { imageUrl = "/images/hero.jpg" })

<div class="container home">
    <div class="p-5 text-center">
        <h1 style="font-weight: bold">Track classic automobiles.</h1>
        <h1>Save and list your favourites.</h1>
        <h1>Share your thoughts with the world.</h1>
        <br />

        @if (!CurrentUser.IsAuthenticated)
        {
<a abp-button="Primary" class="register-button" href="~/Account/Register">@L["Button:JoinHere"]</a>}

    </div>

    @await Component.InvokeAsync("ContentSection", new { title = "Featured cars", link = "https://www.google.com" })
    <div class="showcase">
        <div class="row p-3">
            @foreach (var featuredItem in Model.FeaturedItems)
            {
                <div class="col-lg-3 p-1">@await Component.InvokeAsync("ItemLink", new { imageUrl = "/download/" + featuredItem.Path, path = featuredItem.Path })</div>
            }
        </div>
    </div>

    @await Component.InvokeAsync("ContentSection", new { title = "Recently reviewed", link = "https://www.google.com" })
    <div class="grid">
        <div class="row p-3">
            <div class="col-lg-1 p-1">@await Component.InvokeAsync("ItemLink", new { imageUrl = "/images/car1.jpg" })</div>
            <div class="col-lg-1 p-1">@await Component.InvokeAsync("ItemLink", new { imageUrl = "/images/car2.jpg" })</div>
            <div class="col-lg-1 p-1">@await Component.InvokeAsync("ItemLink", new { imageUrl = "/images/car3.jpg" })</div>
            <div class="col-lg-1 p-1">@await Component.InvokeAsync("ItemLink", new { imageUrl = "/images/car4.jpg" })</div>
            <div class="col-lg-1 p-1">@await Component.InvokeAsync("ItemLink", new { imageUrl = "/images/car1.jpg" })</div>
            <div class="col-lg-1 p-1">@await Component.InvokeAsync("ItemLink", new { imageUrl = "/images/car2.jpg" })</div>
            <div class="col-lg-1 p-1">@await Component.InvokeAsync("ItemLink", new { imageUrl = "/images/car3.jpg" })</div>
            <div class="col-lg-1 p-1">@await Component.InvokeAsync("ItemLink", new { imageUrl = "/images/car4.jpg" })</div>
            <div class="col-lg-1 p-1">@await Component.InvokeAsync("ItemLink", new { imageUrl = "/images/car1.jpg" })</div>
            <div class="col-lg-1 p-1">@await Component.InvokeAsync("ItemLink", new { imageUrl = "/images/car2.jpg" })</div>
            <div class="col-lg-1 p-1">@await Component.InvokeAsync("ItemLink", new { imageUrl = "/images/car3.jpg" })</div>
            <div class="col-lg-1 p-1">@await Component.InvokeAsync("ItemLink", new { imageUrl = "/images/car4.jpg" })</div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-7">
            @await Component.InvokeAsync("ContentSection", new { title = "Recent reviews", link = "https://www.google.com" })
            @await Component.InvokeAsync("ReviewDetails", new { imageUrl = "/images/car4.jpg", title = "Lotus Esprit", description = "stuff" })
        </div>
        <div class="col-lg-5">
            @await Component.InvokeAsync("ContentSection", new { title = "Popular lists", link = "https://www.google.com" })
            @await Component.InvokeAsync("ListGrid", new { listId = new Guid("B7474FB6-9C7B-EABA-8692-39FFF7DA21B2") })
        </div>
    </div>
</div>