@model Autoboxd.Web.Components.ItemLink.ItemLinkViewModel

<div class="component item-link shadow">
    <a href="/Cars/@Model.Path">
        <div class="imageContainer">
            <img class="image" src="@Model.ImageUrl" />
        </div>    
    </a>
    @if (!Model.Name.IsNullOrWhiteSpace())
    {
        <div class="name">@Model.Name</div>
    }
</div>