@model Autoboxd.Web.Components.HeroImage.HeroImageViewModel

<div class="hero-wrapper">
    <div class="hero-image" style="background-image: url(@Model.ImageUrl)"></div>
    <div class="backdropmask js-backdrop-fade"> </div>
</div>