@model Autoboxd.Web.Components.ReviewDetails.ReviewDetailsViewModel

<div class="component review-details container">
    <div class="row">
        <div class="review-image col-4 p-1">
            @await Component.InvokeAsync("ItemLink", new { imageUrl = Model.ImageUrl, path = Model.Path })
        </div>
        <div class="review-content col-8">
            <div class="review-header">
                <h3 class="review-title">@Model.Title</h3>
            </div>
            <div class="review-details"></div>
            <div class="review-content">
                @Model.Description
            </div>
            <div class="review-favourites"></div>
        </div>
    </div>
</div>
