:root {
    --menu-color: #00000050;
    --card-color: #ffffff10;
}

body {
    background: url(https://www.toptal.com/designers/subtlepatterns/patterns/footer_lodyas.png);
    ;
}

nav.navbar {
    background-color: var(--menu-color) !important;
}

.abp-application-layout {
    background-color: var(--dark) !important;
}

h1, h2, h3, h4, h5, h6, p, span, div, td, tr {
    color: var(--light);
}

.card {
    background-color: var(--card-color);
}

