@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

:root {
    --brand-color: #F2663A;
    --menu-color: #00000090;
    --card-color: #ffffff10;
    --background-color: #100e0d;
    --background-color-light: #403a38;
    --background-color-highlight-subtle: #ffffff06;
    --background-color-highlight: #ffffff10;
    --background-color-highlight-strong: #ffffff30;
    --rule-color: #ffffff50;
}

body {
   /* background: url(https://www.toptal.com/designers/subtlepatterns/patterns/footer_lodyas.png);*/
}

nav.navbar {
    background-color: var(--menu-color) !important;
}

.abp-application-layout, .abp-account-layout {
    background-color: var(--background-color) !important;
    /*background-image: linear-gradient(0deg, #3d2f2f 0%, #141110 58%); */
}

h1, h2, h3, h4, h5, h6, p, span, div, td, tr {
    color: var(--light);
    font-family: 'Work Sans', sans-serif;
}

h1 {
    font-family: 'Roboto Slab', serif;
}

a {
    color: var(--brand-color);
}

    a:hover, a:focus, a:active {
        color: var(--brand-color);
        filter: brightness(85%);
    }

.card {
    background-color: var(--card-color);
}

.hero-wrapper {
    height: 675px;
    left: 50%;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    width: 1200px;
    z-index: -1;
}

.hero-image {
    background-position: center -15px;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 99.95%;
    position: absolute;
    width: 100%;
    opacity: 1;
}

.hero-text h1 {
    font-size: calc(100% + 1vw + 1vh);
}

.backdropmask {
    padding-top: 500px;
    position: relative;
}

.backdropmask::before {
    background-image: linear-gradient( 90deg,
    var(--background-color) 0,
    #ffffff00 16.66666667%,
    #ffffff00 83.33333333%,
    var(--background-color)),
        linear-gradient(0deg, 
        var(--background-color) 0,
        var(--background-color) 16.66666667%,
        #ffffff00 83.33333333%,
        var(--background-color)
    );
    background-repeat: no-repeat;
    content: "";
    display: block;
    height: 675px;
    left: 50%;
    pointer-events: none;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    width: 1200px;
    z-index: 0;
}

.container.home {
    padding-top: 0px;
}

@media (min-width: 576px) {
    .container.home {
        padding-top: 300px;
    }
}

.home .register-button {
    font-weight: bold;
    text-transform: uppercase;
}

.component.item-link {
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
    text-decoration: none;
}

.component.item-link:hover {
    border: 2px solid var(--brand-color);
    margin: -2px;
    width: calc(100% + 4px);
    color: var(--light);
    text-decoration: none;
}

.component.item-link:hover a {
    text-decoration: none;
    color: initial;
}

.component.item-link .name {
    text-transform: uppercase;
    font-size: 14px;
    color: var(--background-color-highlight-strong);
    text-decoration: none;
    height: 32px;
    line-height: 32px;
    text-align: center;
}

.component.item-link:hover .name {
    color: var(--light);
    font-weight: bold;
}

.showcase .component.item-link .imageContainer {
    height: 134px;
    overflow: hidden;
    position: relative;
}

.showcase .component.item-link .image {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
}

.showcase .component.item-link .imageContainer {
    height: 134px;
    overflow: hidden;
    position: relative;
}

.showcase .component.item-link .image {
    position: absolute;
    right: 0;
    bottom: 0;
}

.grid .component.item-link .imageContainer {
    height: 50px;
    overflow: hidden;
    position: relative;
}

.grid .component.item-link .image {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
}

.grid .button {
    width: 100%;
    padding: 0;
    margin: 0;
}

.content-section .content-section-header small {
    text-transform: uppercase;
}

.content-section a {
    color: var(--light);
    text-decoration:none;
}

.content-section .link {
    padding-left: 8px;
    padding-right: 5px;
    border-radius: 5px;
}

.content-section .link:hover {
   background-color: var(--background-color-highlight);
}

.content-section .content-section-header hr {
    border-bottom: 2px solid var(--rule-color);
    margin-top: 2px;
    clear: both;
}

.grid img {
    width: 100%;
    border-radius: 5px;
}

.component.review-details .row:hover {
    background-color: var(--background-color-highlight-subtle);
    border-radius: 5px;
}

.component.review-details .review-image img {
    width: 100%;
    border-radius: 5px;
}

.component.list-grid .description {
    max-height: 100px;
    overflow: hidden;
}

.component.list-grid > .row {
    padding: 5px 1px;
}

.component.list-grid > .row:hover {
    background-color: var(--background-color-highlight-subtle);
    border-radius: 5px;
}

.component.list-grid .like, .component.list-grid .share {
    color: var(--light);
    cursor:pointer;
}

.component.list-grid .like {
    margin-right: 2px;
}

.component.list-grid .like:hover, .component.list-grid .share:hover {
    background-color: var(--background-color-highlight);
    border-radius: 5px;
}

.component.comment-section {
    margin-top: 20px;
}

.component.comment-section .comment.row {
    padding: 10px 0;
}

/*.component.comment-section .comment.row:nth-child(2n+1) {
    background-color: var(--background-color-highlight-subtle);
}*/

.modal-content {
    background-color: var(--background-color-light);
}

footer {
    background-color: var(--background-color-light);
    position: absolute;
    width: 100%;
    margin-top: 50px;
}

/*.page.cars .content{
    margin-top: 450px;
}*/

.addToListButton {
    width: 100%;
    margin-bottom: 20px;
}

.rating .btn-group{
    width: 100%;
}

.rating .fa-star {
    color: var(--yellow);
}

.dropdown-menu {
    background-color: var(--background-color-light);
}

.dropdown-menu .dropdown-item {
    color: white;
}


.dropdown-menu .dropdown-item:hover {
    background-color: var(--background-color-highlight);
}

.dropdown-divider {
    border-color: var(--background-color-highlight);
}

.brandnav a {
    color: var(--background-color-highlight-strong) !important;
    cursor: pointer;
}

.searchBar {
    width: calc(100% - 50px);
    border-radius: 4px 0 0 4px;
}

.searchBar.small {
    width: calc(100% - 100px);
}

.searchButton {
    background-color: var(--brand-color);
    width: 50px;
    border-radius: 0 4px 4px 0;
    color: white;
}

.backButton {
    width: 50px;
    color: white;
}

.spinner-container {
    width: 100%;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
    text-align: center;
    line-height: 100px;
}

.row.faded {
    opacity: 0.5;
}