@page "{title}"
@model Autoboxd.Web.Pages.Cars.IndexModel

@await Component.InvokeAsync("HeroImage", new { imageUrl = @Model.ImagePath })

<h1>@Model.Name</h1>
<h3>@Model.Year</h3>

<p>@Model.Description</p>

